services:
  go-api:
    build:
      context: ../go-gin # ← Sobe um nível (..) e entra em go-gin
      dockerfile: Dockerfile
    container_name: go-api
    ports:
      - "8080:8080"
    environment:
      - GIN_MODE=release
    restart: unless-stopped
    networks:
      - app-network

  nest-api:
    build:
      context: ../typescript-nestjs # ← Sobe um nível (..) e entra em nest-api
      dockerfile: Dockerfile
    container_name: nest-api
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
